.name {
  float: left;
  margin: $footmargin;
  color: gray;
  display: inline;
  font-family: $font;
  font-weight: 300;
  font-size: 20px;
  color: $blue;

  @include media (575px) {
    font-size: 15px;
  }

  @include media (391px) {
    font-size: 12px;
    margin: 3px;
  }

  @include media (350px) {
    font-size: 10px;
    margin: 1px;
  }
}


.price {
  @extend .name;
  float: right;
}
