@mixin reposition-change ($top, $left){
  top: $top;
  left: $left;
}

@mixin media ($bp) {
  @media only screen and (max-width: $bp) {
     @content;
   }
}

@mixin colorIcons () {
  .blue a {
    color: $blue;
  }

  .pink a {
    color: $pink;
  }

  .orange a {
    color: $yellow;
  }

  .green a {
    color: $green;
  }
}
