$margin-center: 0 auto;
$blue: #80BBE5;
$pink: #d583ac;
$yellow: #deb17e;
$green: #8bb992;
$font:'Roboto', sans-serif;
$pad10: 10px;
$border: 2px solid #80BBE5;
$z: 2;
$footmargin: 10px 0 0 0;
$transition: opacity .5s ease-in-out;
